body{
    background-color: rgb(240,239,237);
    margin:0;
    font-family: Arial, sans-serif;
}

/* Header */

header{
    background-color: rgb(20,44,54);
    padding:10px 20px;
    overflow:auto;
}

h1{
    color:white;
    float:left;
}

nav{
    float:right;
}

li{
    display:inline-block;
    margin-right:20px;
}

.link{
    color:white;
    text-decoration:none;
    background-color: rgb(41,110,137);
    padding:10px;
    border-radius:10px;
}

.link:hover{
    background-color: rgb(30,80,100);
}

/* Education Layout */

.education-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:40px;
}

.edu-card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}


.edu-card img{
    width:60px;
    margin-bottom:10px;
}

.edu-card h3{
    color:rgb(20,44,54);
}

.edu-card:hover{
    transform:scale(1.05);
    transition:0.3s;
}

/* Footer */

footer{
    background-color: rgb(20,44,54);
    padding:10px;
}

.foot{
    display:flex;
    justify-content:center;
    gap:20px;
}

.foot img{
    width:36px;
}