Selector {
    Property: value;
}
 
body {
    background-color: white;
    margin: 0px
}
img {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px 20px;
}
.photo:hover {
    transform: scale(1.05);
    transition: 0.3s;   
}
.link:hover{
    background-color: rgb(30, 80, 100);
    transition: 0.3s;
}
 
header {
    overflow: auto;
    margin: 0px;
    border: 0px;
    padding: 10px 20px;
    background-color: rgb(20, 44, 54);
}
 
h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 10px;
    float: left;
}
 
nav {
    border: 50px;
    margin: 10px;
    float: right;
}
 
li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
 
.link {
    color:white;
    text-decoration:none;
    background-color: rgb(41,110,137);
    padding:10px;
    border-radius:10px;
}


 
main {
    margin: 8px;
}
 
footer {
    background-color: rgb(20, 44, 54);
    padding: 5px 0;
    width: 100%;
}
 
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
 
.foot img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}
 